body{
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}


h1{
    color:rgb(140, 174, 233);
    border:1px solid rgb(234, 28, 179);

}

#navbar {
    display:flex;
    justify-content: space-between;

    


    background-color: rgb(199, 221, 242);
    padding: 10px 10px;

}


#navbar a {
    color:rgb(234, 28, 179);
    text-decoration: none;
}



.navbar-links a {
    margin-left: 20px;
}

#navbar-title {
    font-weight: 700; 
    font-size: 1.1em;
}

#big-banner{
    margin: 50px 40px;
    font-weight: 400;
}

section{
    margin: 0 40px;
}

#projects h2{
    font-size: 2em;
    border-bottom: 10px solid rgb(199, 221, 242);
}

#projects-grid{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row'
}

.card{
    display: inline-block;
    width: 200px;
    border: 1opx dashed rgb(199, 221, 242);
    padding: 20px;
    margin: 20px;
}

.card:hover{
    border-color: rgb(199, 221, 242);
}

.card img{
    max-width: 100%;
}


